
.hide-desk{
  display:none;
}
.section-hero{
  display:flex;
  gap:106px;
  width: 80%;
  max-width: 1296px;
  margin: 0 auto;

  & .section-video{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 712px;
  }
  & .column-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 414px;

    & .article-hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      width: 100%;

      & .subtitle{
        font-size: var(--font-size-xxxl);
        line-height: normal;
        color: var(--color-primary);
        text-align: center;
      }
      & .subtitle:first-child{
        text-transform: uppercase;
      }
      & h1{
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold); ;
        line-height: normal;
        color: var(--color-primary);
        text-align: center;
      }
      & span{
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-normal);
        line-height: normal;
        color: var(--color-primary);
        text-align: center;
      }
      & .btn-quiz{
        width: 100%;
        padding: 12px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        border: none;
        background: var(--color-primary);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-normal);
        line-height: normal;
        color: var(--color-secondary);
        
      }
    }
    & .article-review{
      display:flex;
      flex-direction: column;
      gap: 18px;
      width: 100%;
      max-width: 100%;
      justify-content: center;
      & .stars{
        display: flex;
        width: 100%;
        justify-content: center;
      }
      & .review-quote{
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-normal);
        line-height: normal;
        color: var(--color-primary);
        text-align: center;
      }
    }
  }
}