@media(width <= 966px){
  .section-video{
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 712px;
  & > span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 10px;
    left: 10px;
    object-fit: cover;
    cursor: pointer;
    background: var(--color-secondary);
    z-index: 1;
    border:0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    display:none;
    align-items: center;
    gap: 10px;

    & span{
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-xsm);
      font-weight: var(--font-weight-normal);
      line-height: normal;
      color: var(--color-primary);
    }
  }
  & video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  & .video-footer{
    position: absolute;
    bottom: 0;
    height: 31.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--color-lightgray);
    font-family: var(--fotn-family-secondary);
    font-size: var(--font-size-xsm);
    font-weight: var(--font-weight-normal);
    line-height: normal;
  }
}
}
@media(width >= 966px){
.section-video{
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 712px;
  & > span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 10px;
    left: 10px;
    object-fit: cover;
    cursor: pointer;
    background: var(--color-secondary);
    z-index: 1;
    border:0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    display:flex;
    align-items: center;
    gap: 10px;

    & span{
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-xsm);
      font-weight: var(--font-weight-normal);
      line-height: normal;
      color: var(--color-primary);
    }
  }
  & video{
    position: absolute;
    width: 100%;
    height: calc(100% - 31.5px);
    top: 0;
    left: 0;
    object-fit: cover;
  }
  & .video-footer{
    position: absolute;
    bottom: 0;
    height: 31.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--color-lightgray);
    font-family: var(--fotn-family-secondary);
    font-size: var(--font-size-xsm);
    font-weight: var(--font-weight-normal);
    line-height: normal;
  }
}
}