.main-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  & .form-container{
    display:flex;
    flex-flow: row;
    align-items:center;
    gap:58px;
    width:100%;
    max-width: 1038px;
    height: 481px;
    & .form-banner{
      width:100%;
      max-width: 566px;
      height: 100%;
      & img{
        width:100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .form-content{
      width:100%;
      max-width: 414px;
      height: 100%;
      display:flex;
      flex-flow: column;
      justify-content: space-between;
      gap:40px;
    }
  }
  & .review-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    width:100%;
    max-width: 1038px;
    margin-top: 83px;
  }
}