main:has(> div.result-page) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.result-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top:calc(80px + 135px);
  .hero-result{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:1044px;
    padding-bottom:80px;
    & h1 {
      font-family: var(--font-family-primary);
      font-size:var(--font-size-xxxl);
      font-weight: var(--font-weight-normal);
      color: var(--color-primary);
      text-align: center;
      margin-bottom:40px;
      width: 100%;
      max-width: 936px;
    }
    .results-video{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 582px;
    }
  }
  .section-gray{
    width: 100%;
    padding:45px 0px 99px 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray);
    & h2{
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xxxl);
      font-weight: var(--font-weight-normal);
      color: var(--color-primary);
      text-align: center;
      margin-bottom:21px;
      width: 100%;
      max-width: 912px;
    }
    & ul{
      display:flex;
      flex-flow:row;
      justify-content: center;
      align-items:center;
      width:100%;
      max-width: 723px;
      margin-bottom:59px;
      & li{
        position:relative;
        font-family: var(--font-family-secondary);
        font-size:var(--font-size-lg);
        font-weight: var(--font-weight-normal);
        letter-spacing: 0.2px;
        color: var(--color-primary);
        text-align: center;
        padding-right:10px;
        padding-left:10px;
      }
      & li:not(:last-child)::after{
        content: '·';
        display: block;
        width: 1px;
        height: 20px;
        position:absolute;
        top:50%;
        left: calc(100% - 1px);
        transform: translateY(-50%);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-lg);
        color: var(--color-primary);
      }
    }
    .columns-2 {
      display:flex;
      flex-flow:row;
      justify-content: center;
      align-items:center;
      width:100%;
      max-width: 1044px;
      gap: 152px;

      .column-1{
        display:flex;
        flex-flow:column;
        width:100%;
        max-width:456px;

        & h3{
          font-family:var(--font-family-secondary);
          font-size:var(--font-size-lg);
          font-weight: var(--font-weight-bold);
          letter-spacing: 0.2px;
          color: var(--color-primary);
          text-align: left;
          margin-bottom:48px;
        }
        .blurb-container{
          display:flex;
          flex-flow:column;
          align-items:start;
          margin-bottom:48px;
          .blurb{
            width:100%;
            display:flex;
            flex-flow:row;
            gap:16px;
            align-items: start;
            margin-bottom:21px;
            & span{
              font-family:var(--font-family-secondary);
              font-size:var(--font-size-lg);
              font-weight: var(--font-weight-normal);
              letter-spacing: 0.2px;
              color: var(--color-primary);
              text-align: left;
              width: calc(100% - 47px);
            }
          }
        }
        & h4{
          font-family:var(--font-family-secondary);
          font-size:var(--font-size-lg);
          font-weight: var(--font-weight-bold);
          letter-spacing: 0.2px;
          color: var(--color-primary);
          text-align: left;
          margin-bottom:48px;
        }
        .btn-primary{
          display:flex;
          justify-content:center;
          align-items:center;
          gap:16px;
          width:100%;
          max-width: 456px;
          height: 48px;
          padding: 12px 24px;
          margin-bottom:31px;
          background-color: var(--color-primary);
          color: var(--color-secondary);
          font-family: var(--font-family-secondary);
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 0.2px;
          text-align: center;
        }
        .btn-secondary{
          display:flex;
          justify-content:center;
          align-items:center;
          gap:16px;
          width:100%;
          max-width: 456px;
          height: 48px;
          padding: 12px 24px;
          color: var(--color-primary);
          font-family: var(--font-family-secondary);
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 0.2px;
          text-align: center;
          text-decoration:underline;
        }
      }
      .column-2{
        width:100%;
        max-width:435px;
        & img{
          width:100%;
          height:100%;
          object-fit: cover;
          object-position: center;
        }
        & img:first-child{
          margin-bottom: 25.91px;
        }
      }
    }
  }
  .comments{
    width:100%;
    max-width: 1044px;
    padding-top:67px;
    padding-bottom: 40px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    & h2{
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xxxl);
      font-weight: var(--font-weight-normal);
      color: var(--color-primary);
      text-align: center;
      margin-bottom:78px;
      width: 100%;
      max-width: 756px;
    }
    .comments-container{
      display:flex;
      flex-flow:row;
      justify-content: space-between;
      align-items:start;
      width:100%;
      max-width: 1044px;
      gap: 58px;
      margin-bottom:43px;
      & .comment{
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width: 456px;
        & h3{
          font-family:var(--font-family-secondary);
          font-size:var(--font-size-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 0.2px;
          color: var(--color-primary);
          text-align: center;
          margin-bottom:22px;
        }
        & svg{
          margin-bottom:14px;
        }
        & span{
          font-family:var(--font-family-secondary);
          font-size:var(--font-size-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 0.2px;
          color: var(--color-primary);
          text-align: center;
        }
      }
    }
    & .img-comments-container{
      display:flex;
      flex-flow:row;
      justify-content:space-between;
      gap:58px;
      margin-bottom:94px;
    }
    & .btn-primary{
      display:flex;
      justify-content:space-between;
      align-items:center;
      width:100%;
      max-width: 366px;
      height: 48px;
      padding: 12px 29px;
      margin-bottom:31px;
      background-color: var(--color-primary);
      color: var(--color-secondary);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
      letter-spacing: 0.2px;
      text-align: center;
    }
  }
  .collage{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:75px 0 113px 0;

    & h2{
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xxxl);
      font-weight: var(--font-weight-normal);
      color: var(--color-primary);
      text-align: center;
      margin-bottom:67px;
      width: 100%;
      max-width: 756px;
    }
    & .collage-container{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      max-width: 100%;
      margin-bottom:94px;
      & img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: center;
      }
    }
    & .btn-primary{
      display:flex;
      justify-content:space-between;
      align-items:center;
      width:100%;
      max-width: 516px;
      height: 48px;
      padding: 12px 29px;
      margin-bottom:31px;
      background-color: var(--color-primary);
      color: var(--color-secondary);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
      letter-spacing: 0.2px;
      text-align: center;
    }
    
    .btn-secondary{
      display:flex;
      justify-content:center;
      align-items:center;
      gap:16px;
      width:fit-content;
      height: 48px;
      padding: 0 24px;
      color: var(--color-primary);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
      line-height:20px;
      letter-spacing: 0.2px;
      text-align: center;
      text-decoration:underline;
    }
  }
}